/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

p {

    font-style: Roboto;
}

body {
    line-height:1;

   margin: 10px 10px;
    /*background-color: dcdcdc;*/

    background: #dcdcdc;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*------------------ MAIN CODE --------------*/

.wrapper
{
  background-image: url("images/1.png");
  z-index: -2;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.column
{
    width: 45%;
    overflow: auto;
    float: left;
}

.puplogo
{
    z-index: 0;
    /*background-position: center;*/
    position: absolute;
    top: 10%;
    left: 37%;
    overflow: hidden;
}

.text-1 {
  text-align: center;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.text-2 {
  text-align: center;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.text-3 {
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.button1
{
    display: inline-flex;
    height: 70px;
    padding: 0;
    background: #007bff;
    border:  none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    top: 55%;
    left: 15.5%;
    position: absolute;
}

.button1:hover
{
    background: #004fc7;
}

.button1:active
{
    background: #004fc7;
}

.button__text1,
.button__icon1
{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon1
{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}


.button2
{
    display: inline-flex;
    height: 70px;
    padding: 0;
    background: #dc3545;
    border:  none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    top: 70%;
    left: 15.5%;
    position: absolute;
}

.button2:hover
{
    background: #f20b21;
}

.button2:active
{
    background: #f20b21;
}

.button__text2,
.button__icon2
{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon2
{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}

.button3
{
    display: inline-flex;
    height: 70px;
    padding: 0;
    background: #25b3e0;
    border:  none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    top: 80%;
    left: 15.5%;
    position: absolute;
}

.button3:hover
{
    background: #00a0d2;
}

.button3:active
{
    background: #00a0d2;
}

.button__text3,
.button__icon3
{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon3
{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}

.button4
{
    display: inline-flex;
    height: 40px;
    padding: 0;
    background: #25b3e0;
    border:  none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    top: 1.8%;
    left: 39.5%;
    position: absolute;
}

.button4:hover
{
    background: #00a0d2;
}

.button4:active
{
    background: #00a0d2;
}

.button__text4,
.button__icon4
{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon4
{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}


.button5
{
    display: inline-flex;
    height: 70px;
    padding: 0;
    background: #25b3e0;
    border:  none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    top: 80%;
    left: 15.5%;
    position: absolute;
}

.button5:hover
{
    background: #00a0d2;
}

.button5:active
{
    background: #00a0d2;
}

.button__text5,
.button__icon5
{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon5
{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}


.button6
{
    display: inline-flex;
    height: 40px;
    padding: 0;
    background: #25b3e0;
    border:  none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    top: 1.8%;
    left: 39.5%;
    position: absolute;
}

.button6:hover
{
    background: #00a0d2;
}

.button6:active
{
    background: #00a0d2;
}

.button__text6,
.button__icon6
{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon6
{
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#E5E5E5;
}

/**************************************/
/** Start: Navigation Bar**/
.topnav {
    background-color: #730702;
    overflow: hidden;
    height: 50px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #A1231E;
}

.stickybar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.stickyleft {
    position: fixed;
}

/**************************************/
/** Start: Banner**/
.banner {
    position: relative;
    background-image: url("images/banner.jpeg");
    height: 100px;
}

.banner img{
    position: absolute;
    height: 80px;
    width: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 30px;
}

.banner h1{
    position: absolute;
    color: #810000 ;
    padding-left: 120px;
    padding-top: 35px;
    font-family: 'Roboto', sans-serif;
}
/**************************************/
/** Start: Content**/
.column {
    float: left;
    padding: 10px;
    background-color:#E5E5E5;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/**************************************/
/** Start: Left Column**/
.left {
    width: 25%;
    background-color:white ;
    height: 81vh;
}

.left a {
    text-decoration: none;
    color: #730702;
}

.left a:hover {
    text-decoration: underline;
    color: #A1231E;
}

.left li {
    list-style-type: none;
}

.search, .advance {
    margin-top: 20px;
    padding: 0 10px;
}

.search li{
    padding-left: 10px;
}

.searchbar{
    padding: 10px;
}

.searchbar button {
    height: 30px;
    background-color: #730702;
    color: white;
    padding: 5px;
}

.searchbar button:hover {
    background-color: #A1231E;
}

.search input {
    width: 80%;
    height: 30px;
    padding: 5px;
}

.searchbar label {
    font-size: small;
    margin: 50px 0;
}

.searchbar input[type="text"]{
    height: 30px;
    width: 60%;
}

.advancetop select {
    width: 35%;
    height: 30px;
}

.advancebot input, label, select{
    margin: 5px 0;
}

.browse {
    margin-top: 50px;
    padding: 0 10px;
}

.browse li{
    padding: 5px 0 0 10px;
}
/**************************************/
/** Start: Right Column**/
.right {
    width: 75%;
    margin-left: 25%;
    padding-top: 50px;
}

.right h2 {
    padding: 0 0 20px 10px;
}

.right h3 {
    padding: 10px 0;
    text-align: center;
}

.directory {
    margin-top: -20px;
    padding: 2px 0 0px 10px;
}

.directory a{
    font-size: small;
    padding: 3px;
    text-decoration: none;
}

.right a {
    color: #730702;
}

.right a:hover {
    text-decoration: underline;
    color: #A1231E;
}

.card {
    position:relative;
    background: #fff;
    border-radius: 6px;
    color: #000;
    display: block;
    padding: 24px 20px;
    margin: 10px auto;
    width: 80%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card a {
    text-decoration: none;
}

.home a{
    font-style: italic;
}

.card li {
    list-style: none;
}

.contact h4{
    padding-bottom: 5px;
}

.contact p{
    padding-bottom: 2px 0;
}

.login button {
    margin: 10px 20%;
    width: 60%;
    height: 40px;
    background-color: #730702;
    padding: 5px;
    color: white;
}

.login button:hover{
    background-color: #A1231E;
}

.login input[type=text]{
    margin: 0px 20% 0 20%;
    width: 60%;
    height: 40px;
    padding: 5px;
}

.login input[type=password]{
    margin: 0px 20% 0 20%;
    width: 60%;
    height: 40px;
    padding: 5px;
}

.loginform li {
    padding: 10px 0 0 10px;
}
.forgot p {
    text-align: center;
    padding-bottom: 10px;
}

/* expandable */
details {
    user-select: none;

}

details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
}

details[open] summary span.icon {
    transform: rotate(180deg);
}

details a {
    padding: 10px 0 0 20px;
}

details li{
    padding: 3px;
}

summary {
    display: flex;
    cursor: pointer;
}
summary p{
    padding: 10px 0 0 10px;
}

summary::-webkit-details-marker {
    display: none;
}

.alphabet{
    text-align: center;
}

.alphabet li{
	display: inline-block;
}

.alphabet a {
    padding: 10px 0px 20px 0;
}

.alphabet a:hover{
    background-color: #A1231E;
    color: white;
    text-decoration: none;
    padding: 20px 0px;
}

.sublist {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.sublist a{
    font-size: smaller;
    padding: 0 5px;
}

.sublist ul{
    padding-bottom: 10px;
}
