* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#E5E5E5;
}

/**************************************/
/** Start: Navigation Bar**/
.topnav {
    background-color: #730702;
    overflow: hidden;
    height: 50px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #A1231E;
}

.stickybar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.stickyleft {
    position: fixed;
}

/**************************************/
/** Start: Banner**/
.banner {
    position: relative;
    background-image: url("images/banner.jpeg");
    height: 100px;
}

.banner img{
    position: absolute;
    height: 80px;
    width: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 30px;
}

.banner h1{
    position: absolute;
    color: #810000 ;
    padding-left: 120px;
    padding-top: 35px;
    font-family: 'Roboto', sans-serif;
}
/**************************************/
/** Start: Content**/
.column {
    float: left;
    padding: 10px;
    background-color:#E5E5E5;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/**************************************/
/** Start: Left Column**/
.left {
    width: 25%;
    background-color:white ;
    height: 81vh;
}

.left a {
    text-decoration: none;
    color: #730702;
}

.left a:hover {
    text-decoration: underline;
    color: #A1231E;
}

.left li {
    list-style-type: none;
}

.search, .advance {
    margin-top: 20px;
    padding: 0 10px;
}

.search li{
    padding-left: 10px;
}

.searchbar{
    padding: 10px;
}

.searchbar button {
    height: 30px;
    background-color: #730702;
    color: white;
    padding: 5px;
}

.searchbar button:hover {
    background-color: #A1231E;
}

.search input {
    width: 80%;
    height: 30px;
    padding: 5px;
}

.searchbar label {
    font-size: small;
    margin: 50px 0;
}

.searchbar input[type="text"]{
    height: 30px;
    width: 60%;
}

.advancetop select {
    width: 35%;
    height: 30px;
}

.advancebot input, label, select{
    margin: 5px 0;
}

.browse {
    margin-top: 50px;
    padding: 0 10px;
}

.browse li{
    padding: 5px 0 0 10px;
}
/**************************************/
/** Start: Right Column**/
.right {
    width: 75%;
    margin-left: 25%;
    padding-top: 50px;
}

.right h2 {
    padding: 0 0 20px 10px;
}

.right h3 {
    padding: 10px 0;
    text-align: center;
}

.directory {
    margin-top: -20px;
    padding: 2px 0 0px 10px;
}

.directory a{
    font-size: small;
    padding: 3px;
    text-decoration: none;
}

.right a {
    color: #730702;
}

.right a:hover {
    text-decoration: underline;
    color: #A1231E;
}

.card {
    position:relative;
    background: #fff;
    border-radius: 6px;
    color: #000;
    display: block;
    padding: 24px 20px;
    margin: 10px auto;
    width: 80%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card a {
    text-decoration: none;
}

.home a{
    font-style: italic;
}

.card li {
    list-style: none;
}

.contact h4{
    padding-bottom: 5px;
}

.contact p{
    padding-bottom: 2px 0;
}

/* expandable */
details {
    user-select: none;

}

details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
}

details[open] summary span.icon {
    transform: rotate(180deg);
}

details a {
    padding: 10px 0 0 20px;
}

details li{
    padding: 3px;
}

summary {
    display: flex;
    cursor: pointer;
}
summary p{
    padding: 10px 0 0 10px;
}

summary::-webkit-details-marker {
    display: none;
}

.alphabet{
    text-align: center;
}

.alphabet li{
	display: inline-block;
}

.alphabet a {
    padding: 10px 0px 20px 0;
}

.alphabet a:hover{
    background-color: #A1231E;
    color: white;
    text-decoration: none;
    padding: 20px 0px;
}

.sublist {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.sublist a{
    font-size: smaller;
    padding: 0 5px;
}

.sublist ul{
    padding-bottom: 10px;
}
/** admin profile **/

.upload {
    margin-left: 70%;
    width: 20%;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: #730702;
    border: none;
}

.upload:hover{
    background-color:#A1231E;
}

/** profile **/
.profile {
    padding: 10px;
}

.bookmark{
    box-shadow: none;
    border-style: outset;
    background-color: #EBEBEB;
    margin: 10px auto 20px auto ;
}

.bookmark a:hover{
    text-decoration: none;
}

.bookmark #title{
    padding: 5px 0 5px 0;
    color: #730702;
}

.bookmark #summary{
    padding: 20px 5px 0 5px;
    color: #000;
}

/**thesis page**/

.thesis hr {
    margin: 10px;
}

.thesis-info {
    padding: 20px;
}

.details{
    padding-top: 20px;
    text-align: center;
}

.abstract p {
    padding: 20px;
    font-style: italic;
}

.thesis-comment {
    padding: 20px;
}

.commentbox {
    margin: 20px 50px 20px 50px;
    padding: 10px 20px 10px 20px;
    background-color: #E0E0E0;
}

.commentbox p{
    padding: 10px 0 0 20px;
}
